.bg {
  background: url(../../assets/images/skbg.jpg);
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 0px -450px;
  width: 100%;
  /* height: 100%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* top: 400px; */
}
